.header__top
  .container
    .header__top-content
      a(href='#' class='header__top-logo') Barber

      .header__top-info
        ul
          li
            img(src="img/icons/phone.svg" alt="phone")
            div
              span 1-800-00-000-0000
              span 1-800-00-000-0000
          li
            img(src="img/icons/map.svg" alt="map")
            div
              span 11301 West Olympic Boulevard
              span New Yourk, USA
          li
            img(src="img/icons/clock.svg" alt="clock")
            div
              span Mon - Fri
              span 9.00 - 18.00

      .header__top-search
        img(src="img/icons/search.svg" alt="search")
