@import "../../local_modules/normalize.css/normalize";

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Quattrocento Sans", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}
